.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}
.ql-size-small {
  font-size: 9.75px;
}
.ql-size-large {
  font-size: 19.5px;
}
.ql-size-huge {
  font-size: 32.5px;
}
.ql-font-serif {
  font-family: serif;
}
.ql-font-monospace {
  font-family: monospace;
}
