.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0) 70%,
      rgba(255, 255, 255, 1)
    ),
    url("../images/polygon.jpg");
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  @at-root #{&}__title {
    font-size: 44px;
    font-weight: bold;
    text-align: center;
  }
  @at-root #{&}__sub {
    font-size: 32px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .hero__tux {
    display: block;
  }
}

@media (max-width: 414px) {
  .hero__title {
    margin: 0 3%;
  }
}
