.nav {
  display: flex;
  justify-content: space-between;
  margin: 50px;

  &__logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    height: 60px;
    width: 25%;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    width: 40%;

    a:not(.active) {
      text-transform: capitalize;
      text-decoration: none;
    }
  }
}

.active {
  text-decoration: underline;
  text-transform: capitalize;
}

@media screen and (max-width: 1024px) {
  .nav {
    &__links {
      width: 70%;
    }
  }
}
