$color-white: #ffffff;
$color-red: #f25c54;
$color-pink: #fcbcb8;
$color-gray: #00000029;
$color-yellow: #ffd972;
$color-black: #000000;
$color-blue: #c7eae4;
$color-green: #a7e8bd;
$color-dark-pink: #efa7a7;
$color-dark-gray: #393939;
